<div class="dropdown">
    <a class="btn btn-info dropdown-toggle"  id="managedropdowmmenu" data-bs-toggle="dropdown" href="#" >
        Management 
    </a>
    <div class="dropdown-menu" aria-labelledby="managedropdowmmenu">
        <a class="dropdown-item" asp-area="Database" asp-controller="DbManage" asp-action="Index">Database</a>
        <a class="dropdown-item" asp-area="Contact" asp-controller="Contact" asp-action="Index">Quản lý liên hệ</a>
    </div>
</div>

